.p-checkbox-box {
    border: 2px solid #a6b3bd !important;
}
.disabled-row {
    opacity: 0.5; /* Make the row look disabled */
    pointer-events: none; /* Prevent interaction */
}

.table-row-hover:hover {
    background-color: #f1f1f1; /* Light gray background color on hover */
    cursor: pointer; /* Pointer cursor on hover */
  }